@use "./fonts" as *;
@use "./colors" as *;

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: $dark-green;
}

h1 {
  font-family: "Fashion Fetish";
  font-size: 18px;
  font-weight: 700;
  color: $dark-green;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}
