@use "../../styles/partials/colors" as *;

@mixin custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $red;
  font-size: 0.875rem;
  font-weight: 700;
  height: 2.5rem;
  border-radius: 0.25rem;
  width: 90%;
  border: none;
  padding: 1.5rem 0;
  cursor: pointer;

  &:focus {
    background-color: $dark-red;
  }
}

@mixin custom-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark-green;
  font-size: 12px;
  font-weight: 600;
  border-radius: 2.5rem;
  border: 0.125rem solid $dark-green;
  padding: 0.5rem 0.75rem;
  cursor: pointer;

  &:hover {
    background-color: $dark-green;
    color: $light-beige;
  }
}
