@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as *;

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    text-transform: uppercase;
  }
  &__form {
    padding: 1rem 0;
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  &__field {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    &--label {
      font-size: 12px;
      text-transform: uppercase;
    }
    &--input {
      height: 2rem;
      border-radius: 4px;
      padding: 8px;
    }
  }
  &__button {
    @include custom-button;
    height: 2rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    &:hover {
      background-color: $dark-red;
    }
  }
  &__login {
    font-size: 12px;
  }
  &__error {
    font-size: 10px;
    color: red;
    padding-top: 8px;
  }
  &__success {
    font-size: 10px;
    color: green;
    padding-top: 8px;
  }
}
