@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: $light-beige;
  height: 15%;
  border-bottom: 3px solid $dark-green;
  padding: 1.5rem 1.5rem 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  display: flex;
}

.logo {
  align-self: flex-start;
  text-align: left;
  width: 100%;

  &__text {
    line-height: 1.5rem;
  }
}
