@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  justify-content: center;

  &__container {
    background-color: $light-beige;
    border-bottom: 0.125rem solid $dark-green;
    padding: 1.5rem 0.5rem 0.5rem;
    margin: 0 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 50rem;
    }
  }
}

.logo-link {
  text-decoration: none;
  display: flex;
}

.logo {
  align-self: flex-start;
  text-align: left;
  width: 100%;
}
