@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 3rem;
  position: relative;

  @include tablet {
    width: 80%;
  }

  @include desktop {
    width: 50%;
  }
}
.top-banner {
  padding: 1rem 0;
  background-color: $dark-beige;
  border-radius: 4px;
  width: 90%;
  text-align: center;

  @include tablet {
    width: 30rem;
  }
}

.chart {
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid $dark-green;
    margin-bottom: 1rem;
    width: fit-content;
  }

  &__container {
    // width: 100%;
  }
}

.hydration {
  padding: 1rem 0;
  margin-bottom: 2rem;
  background-color: $dark-beige;
  border-radius: 4px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    width: 30rem;
  }

  &__title {
    margin-bottom: 1rem;
    border-bottom: 1.5px solid $dark-green;
    width: fit-content;
    text-align: center;
  }
}

.button-link {
  text-decoration: none;
  align-self: center;
  display: contents;
}

.week-button {
  @include custom-button;

  @include tablet {
    width: 30rem;
  }

  &:hover {
    background-color: $dark-red;
  }
}

.chart__label {
  display: flex;
  margin-left: 20px;
  width: 10rem;
  // width: 47vw;
  justify-content: space-between;
  padding-bottom: 2rem;

  &--item {
    height: 30px;
    animation-name: click 3s 3s;
  }
}

@keyframes click {
  // from {
  //   transform: none;
  // }
  to {
    transform: translate(5px, 5px);
  }
}
