@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.top-banner {
  padding: 1rem;
}

.chart {
  padding: 2rem;
  padding-bottom: 0;
  height: auto;
}

.hydration {
  padding: 1rem 0;
  margin-bottom: 2rem;
  background-color: $dark-beige;
  border-radius: 4px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-bottom: 1rem;
    border-bottom: 2px solid $dark-green;
    width: fit-content;
    text-align: center;
  }
}

.week-button {
  @include custom-button;
}

.chart__label {
  display: flex;
  margin-left: 25px;
  width: 50vw;
  justify-content: space-between;
  padding-bottom: 2rem;
  &--item {
    height: 50px;
    // font-size: 40px;
  }
}
